* {
    margin: 0;
    padding: 0;
}

:root {
    --c-dark: #1d1d1d;
    --c-light: #fff;

    --n-cellSize: 16px;
}

body {
    background-color: var(--c-dark);
}

#app {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    .cell{
        display: block;
        width: var(--n-cellSize);
        height: var(--n-cellSize);

        border-radius: 0%;

        &[data-alive='false'] {
            background-color: var(--c-dark);
        }

        &[data-alive='true'] {
            background-color: var(--c-light);
        }
    }
}